@import url('https://fonts.googleapis.com/css2?family=Grenze+Gotisch:wght@500&display=swap');

/* Sticky footer styles
-------------------------------------------------- */
html {
    position: relative;
    min-height: 100%;
  }
  body {
    /* Margin bottom by footer height */
    margin-bottom: 60px;
    overflow-x: hidden;
  }
  .footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    /* Set the fixed height of the footer here */
    height: 40px;
    background-color: #f5f5f5;
    background-color: black;
    color: white;
    font-size: 2rem;
  }
  
  .container .text-muted {
    margin: 20px 0;
  }

#landing-header {
  z-index: 1;
  position: relative;
  text-align: center;
  padding-top: 40vh;
}
#landing-header h1 {
  color: #fff;
}
.slideshow {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 0;
  list-style: none;
  margin: 0;
  padding: 0;
}
.slideshow li {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  opacity: 0;
  z-index: 0;
  animation: imageAnimation 25s linear infinite;
}
.slideshow li:nth-child(1) {
  background-image: url(https://images.unsplash.com/photo-1508558936510-0af1e3cccbab?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80);
}
.slideshow li:nth-child(2) {
    background-image: url(https://images.unsplash.com/photo-1527174744973-fc9ce02c141d?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1053&q=80);
    animation-delay: 5s;
  }
.slideshow li:nth-child(3) {
  background-image: url(https://images.unsplash.com/photo-1549633030-89d0743bad01?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=800&q=80);
  animation-delay: 10s;
}

.slideshow li:nth-child(4) {
  background-image: url(https://images.unsplash.com/photo-1524117074681-31bd4de22ad3?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=800&q=80);
  animation-delay: 15s;
}
.slideshow li:nth-child(5) {
  background-image: url(https://images.unsplash.com/photo-1484627147104-f5197bcd6651?ixlib=rb-1.2.1&auto=format&fit=crop&w=1050&q=80);
  animation-delay: 20s;
}

@keyframes imageAnimation {
  0% {
    opacity: 0;
    animation-timing-function: ease-in;
  }
  10% {
    opacity: 1;
    animation-timing-function: ease-out;
  }
  20% {
    opacity: 1;
  }
  30% {
    opacity: 0;
  }
}

/* Older browser support - .no-cssanimations class added by modernizr */
.no-cssanimations .slideshow li {
	opacity: 1;
}

h1 {
    color: white;
    text-shadow: 6px 6px 8px #000000;
    font-family: 'Grenze Gotisch', cursive;
    transition-duration: 1s;
    font-size: 7rem!important;
}
.button{
    background-color: white; /* Green */
  border: none;
  margin-top: 2rem;
  color: black;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
    transition-duration: 1s;
    border-radius: 16px;
    opacity: 0;
    animation: 1.5s slideIn ease-in-out forwards 1s;
}

@keyframes slideIn {
    100% {
      opacity: 1;
    }
  }
  
  .button:hover {
    background-color:rgb(46, 43, 43); /* Green */
    color: white;
    text-decoration: none;
  }

  /* Animation */
  .ml5 {
    position: relative;
    font-weight: 300;
    font-size: 4.5em;
    color: #423f3f;
  }
  
  .ml5 .text-wrapper {
    position: relative;
    display: inline-block;
    padding-top: 0.1em;
    padding-right: 0.05em;
    padding-bottom: 0.15em;
    line-height: 1em;
  }
  
  .ml5 .line {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    height: 3px;
    width: 100%;
    background-color: #423f3f;
    transform-origin: 0.5 0;
  }
  
  .ml5 .ampersand {
    font-family: Baskerville, serif;
    font-style: italic;
    font-weight: 400;
    width: 1em;
    margin-right: -0.1em;
    margin-left: -0.1em;
  }
  
  .ml5 .letters {
    display: inline-block;
    opacity: 0;
  }

  @media only screen and (max-width: 800px) {
   .line{
    position: absolute;
    left: 0;
    top: 1rem;
    bottom: 1rem;
    margin: auto;
    height: 10px;
    width: 100%;
    background-color: #423f3f;
    transform-origin: 0.5 0;
   }
   .ml5 .text-wrapper {
    position: relative;
    display: inline-block;
    padding-top: 0.5em;
    padding-right: 0.05em;
    padding-bottom: 0.5em;
    line-height: 1em;
  }
  }